In [4]:
import os

import numpy as np
import pandas as pd
from gensim.corpora.dictionary import Dictionary
from sklearn.model_selection import train_test_split
from sklearn.utils import shuffle
import ast

In [5]:
descriptions = pd.read_csv(os.path.join('data', 'descriptions.csv')).rename(columns={'movie': 'item'})

In [14]:
descriptions.haad

AttributeError: 'DataFrame' object has no attribute 'haad'

In [97]:
def make_item_descriptions(max_sentence_length=None):
    descriptions = pd.read_csv(os.path.join('data', 'descriptions.csv')).rename(columns={'movie': 'item'})
    descriptions['crew'] = descriptions['crew'].apply(lambda x: ast.literal_eval(x))
    descriptions['cast'] = descriptions['cast'].apply(lambda x: ast.literal_eval(x))
    texts = descriptions.description
    texts = texts.apply(lambda x: x.strip().split())
    descriptions['description'] = [crew + cast + text for crew, cast, text in zip(descriptions.crew, descriptions.cast, texts)]
    texts = descriptions.description
    dictionary = Dictionary(texts.values)
    eos_id = len(dictionary.keys())

    # to index list
    texts = texts.apply(lambda x: dictionary.doc2idx(x, unknown_word_index=eos_id))
    texts = texts.apply(lambda x: np.array([a for a in x if a != eos_id]))
    max_sentence_length = max(texts.apply(len)) if max_sentence_length is None else min(max(texts.apply(len)), max_sentence_length)

    # padding
    texts = texts.apply(lambda x: x[:max_sentence_length])
    texts = texts.apply(lambda x: np.pad(x, (0, max_sentence_length - len(x)), 'constant', constant_values=(0, eos_id)))

    # change types
    texts = texts.apply(lambda x: x.astype(np.int32))
    descriptions.id = descriptions.id.astype(np.int32)

    return np.array(descriptions.id.values), np.array(texts), len(dictionary.keys()) + 1

In [98]:
results = make_item_descriptions()

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [92]:
descriptions = pd.read_csv(os.path.join('data', 'descriptions.csv')).rename(columns={'movie': 'item'})

In [83]:
import ast
descriptions.head()['crew'].apply(lambda x: ast.literal_eval(x)).apply(lambda x: x[0])

0      Dariusz Wolski
1    Francine Maisler
2     Roger Mussenden
3         Paul Haggis
4      Dariusz Wolski
Name: crew, dtype: object

In [19]:
ls.describe()

count    2243.000000
mean       51.283103
std        25.754721
min         7.000000
25%        31.000000
50%        49.000000
75%        65.000000
max       174.000000
Name: description, dtype: float64

In [22]:
movie_df = pd.read_csv(os.path.join('data', 'tmdb-5000-movie-dataset', 'tmdb_5000_movies.csv'))

In [24]:
movie_df.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [25]:
movie_df['keywords'].head()

0    [{"id": 1463, "name": "culture clash"}, {"id":...
1    [{"id": 270, "name": "ocean"}, {"id": 726, "na...
2    [{"id": 470, "name": "spy"}, {"id": 818, "name...
3    [{"id": 849, "name": "dc comics"}, {"id": 853,...
4    [{"id": 818, "name": "based on novel"}, {"id":...
Name: keywords, dtype: object

In [51]:
credit_df = pd.read_csv(os.path.join('data', 'tmdb-5000-movie-dataset', 'tmdb_5000_credits.csv'))

In [52]:
credit_df = credit_df.head()

In [70]:
import json
credit_df['crew'] = credit_df['crew'].apply(json.loads)
credit_df['crew'].apply(lambda xs: [x['name'] for x in xs[:10]]).values

array([list(['Stephen E. Rivkin', 'Rick Carter', 'Christopher Boyes', 'Christopher Boyes', 'Mali Finn', 'James Horner', 'James Cameron', 'James Cameron', 'James Cameron', 'James Cameron']),
       list(['Dariusz Wolski', 'Gore Verbinski', 'Jerry Bruckheimer', 'Ted Elliott', 'Terry Rossio', 'Stephen E. Rivkin', 'Craig Wood', 'Hans Zimmer', 'Mike Stenson', 'Eric McLeod']),
       list(['Thomas Newman', 'Sam Mendes', 'Anna Pinnock', 'John Logan', 'John Logan', 'Dennis Gassner', 'Ian Fleming', 'Lee Smith', 'Bill Bernstein', 'Daniel Craig']),
       list(['Hans Zimmer', 'Charles Roven', 'Christopher Nolan', 'Christopher Nolan', 'Christopher Nolan', 'Christopher Nolan', 'Jonathan Nolan', 'Emma Thomas', 'Wally Pfister', 'Wally Pfister']),
       list(['Andrew Stanton', 'Andrew Stanton', 'John Lasseter', 'Colin Wilson', 'Gail Stevens', 'Tom Johnson', 'Eric Zumbrunnen', 'Michael Silvers', 'Juan Peralta', 'Paul Gooch'])],
      dtype=object)

In [69]:
credit_df['crew'].values[0][0]

{'credit_id': '52fe48009251416c750aca23',
 'department': 'Editing',
 'gender': 0,
 'id': 1721,
 'job': 'Editor',
 'name': 'Stephen E. Rivkin'}

In [64]:
credit_df.columns

Index(['movie_id', 'title', 'cast', 'crew'], dtype='object')